*{
    margin:0px;
    padding:0;

}
.container{
    width:100%;
    border: 1 px  solid;
}
header,.newsletter{
    background-color: black;
    border:1px solid;
    height: 50px;
    color:wheat;    

}
header h1{
    margin: 8px 0px 0px 40px;
    color: white;
}
header h1 span{
    color: red;

}
header ul{
    position: absolute;
    top: 20px;
    right: 80px;
}
header li{
    display: inline;
    color: red;
    margin:0px 20px;

}
.herosection{
    padding:200px 50px ;
    border-top:5px solid red;
    background-image: url(image/mainpic.jpeg);
    background-size: 100% 150%;
    color: white;
    text-transform: uppercase;
    text-align: center;

}
.herosection h2{
    text-align: center;
    margin-bottom: 20px;
}
.herosection p{
    text-transform: uppercase;
}
.newsletter{
    position: relative;

}
.newsletter h2{
    color: white;
    margin: 10px 0px 0px 40px;
}
.newsletter input{
    position: absolute;
    top:8px ;
    right: 80px ;
}
.newsletter input[type=submit]{
    padding: 10px 20px;
    color: red;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;

}
.newsletter input[type=text]{
    padding: 10px;
    border-radius: 5px;

}
.about{
    border: 1px solid;
    padding: 10px;
}
.about div{
    border: 1px solid gray;
    display:inline-block;
    width: 30%;
    padding: 10px;
    margin: 9px;
    text-align: center;

}
image{
    background-size: auto;
}
footer{
    text-align: center;
    background-color: black;
}