<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1><span>ECTI</span>WEB DESIGN</h1>
            <UL>
                <li>Home</li>
                <li>About</li>
                <li>contact</li>
            </UL>
        </header>
        <main>
            <div class="herosection">
                <h2>Affordable professional website</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quo perspiciatis iste ratione molestias quam architecto animi eum officia deserunt nulla neque nobis earum, ducimus at consequatur cum atque inventore!
                Nemo aspernatur laboriosam sint, nostrum deserunt nihil, numquam harum ipsam at porro quod. Tenetur aliquam itaque fugiat mollitia voluptatem sit dicta odit asperiores! Quae, quam. Ipsam id distinctio in ipsa?</p>

            </div><!--end of herosection-->
            <div class="newsletter">
                <h2>subscribe our newsletter</h2>
                <div>
                   <input type="text">
                   <input type="submit" value="subscribe">
                </div>
            </div><!--end of newsletter-->
            <div class="about">
                <div>
                    <img src="image/html.png" alt="img not found" width="300px" height="200px">
                    <h3>about HTML</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni odit corrupti, provident quod esse aliquid autem sint amet libero in! Animi sapiente dolorem labore exercitationem et amet, mollitia voluptate. Exercitationem.
                    Perspiciatis consequuntur molestias sapiente quos aut soluta autem aperiam assumenda doloribus! Dolores fuga culpa iure nesciunt eius exercitationem labore obcaecati eum porro laborum magnam, enim, harum eaque minima, incidunt accusantium!
                    Voluptas aliquid alias rerum perspiciatis doloremque facere eaque magnam? Incidunt nam tenetur eos, rerum maiores inventore impedit debitis quae ut illum quaerat, laudantium repellat libero dolores repellendus temporibus, numquam quam!
                    Labore odio, qui possimus nulla consectetur tempora expedita. Sequi eos sunt corrupti. Tempora dicta impedit consequatur laudantium modi, quis soluta magnam dolorum amet in praesentium aliquam incidunt, aliquid voluptas sunt.</p>
                </div>
                <div>
                    <img src="image/css.png" alt="img not found" width="300px" height="200px">
                    <h3>about CSS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni odit corrupti, provident quod esse aliquid autem sint amet libero in! Animi sapiente dolorem labore exercitationem et amet, mollitia voluptate. Exercitationem.
                    Perspiciatis consequuntur molestias sapiente quos aut soluta autem aperiam assumenda doloribus! Dolores fuga culpa iure nesciunt eius exercitationem labore obcaecati eum porro laborum magnam, enim, harum eaque minima, incidunt accusantium!
                    Voluptas aliquid alias rerum perspiciatis doloremque facere eaque magnam? Incidunt nam tenetur eos, rerum maiores inventore impedit debitis quae ut illum quaerat, laudantium repellat libero dolores repellendus temporibus, numquam quam!
                    Labore odio, qui possimus nulla consectetur tempora expedita. Sequi eos sunt corrupti. Tempora dicta impedit consequatur laudantium modi, quis soluta magnam dolorum amet in praesentium aliquam incidunt, aliquid voluptas sunt.</p>
                </div>
                <div>
                    <img src="image/brushlogo.jpg" alt="img not found" width="300px" height="200px">
                    <h3>about BRUSH</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni odit corrupti, provident quod esse aliquid autem sint amet libero in! Animi sapiente dolorem labore exercitationem et amet, mollitia voluptate. Exercitationem.
                    Perspiciatis consequuntur molestias sapiente quos aut soluta autem aperiam assumenda doloribus! Dolores fuga culpa iure nesciunt eius exercitationem labore obcaecati eum porro laborum magnam, enim, harum eaque minima, incidunt accusantium!
                    Voluptas aliquid alias rerum perspiciatis doloremque facere eaque magnam? Incidunt nam tenetur eos, rerum maiores inventore impedit debitis quae ut illum quaerat, laudantium repellat libero dolores repellendus temporibus, numquam quam!
                    Labore odio, qui possimus nulla consectetur tempora expedita. Sequi eos sunt corrupti. Tempora dicta impedit consequatur laudantium modi, quis soluta magnam dolorum amet in praesentium aliquam incidunt, aliquid voluptas sunt.</p>
                </div>

            </div><!--end if about-->
        </main>
        <footer>
            <h2>All right Reserved copyright &copy; ECTII-2023</h2>
        </footer>

    </div><!--end if container-->
</body>
</html>